In [66]:
import pandas as pd

matches=pd.read_csv('matches.csv')
teams=pd.read_csv("teams.csv")

matches["date"] = pd.to_datetime(matches["date"], format="%Y%m%d")

matches.head()

,date,team1,team1Text,team2,team2Text,venue,IdCupSeason,CupName,team1Score,team2Score,statText,resText,team1PenScore,team2PenScore
0,1950-03-08,WAL,Wales,NIR,Northern Ireland,"Cardiff, Wales",6,FIFA competition team qualification,0.0,0.0,NaN,0-0,NaN,NaN
1,1950-04-02,ESP,Spain,POR,Portugal,"Madrid, Spain",6,FIFA competition team qualification,5.0,1.0,NaN,5-1,NaN,NaN
2,1950-04-09,POR,Portugal,ESP,Spain,"Lisbon, Portugal",6,FIFA competition team qualification,2.0,2.0,NaN,2-2,NaN,NaN
3,1950-04-15,SCO,Scotland,ENG,England,"Glasgow, Scotland",6,FIFA competition team qualification,0.0,1.0,NaN,0-1,NaN,NaN
4,1950-06-24,BRA,Brazil,MEX,Mexico,"Rio De Janeiro, Brazil",7,FIFA competition team final,4.0,0.0,NaN,4-0,NaN,NaN

In [67]:
country_code_mapping = {
    "FRG": "GER", 
    "TCH": "CZE",  
    "URS": "RUS",  
    "SCG": "SRB",  
    "ZAI": "COD",   
    "YUG":"CRO",
}
matches["team1"] = matches["team1"].replace(country_code_mapping)
matches["team2"] = matches["team2"].replace(country_code_mapping)
matches.head()

,date,team1,team1Text,team2,team2Text,venue,IdCupSeason,CupName,team1Score,team2Score,statText,resText,team1PenScore,team2PenScore
0,1950-03-08,WAL,Wales,NIR,Northern Ireland,"Cardiff, Wales",6,FIFA competition team qualification,0.0,0.0,NaN,0-0,NaN,NaN
1,1950-04-02,ESP,Spain,POR,Portugal,"Madrid, Spain",6,FIFA competition team qualification,5.0,1.0,NaN,5-1,NaN,NaN
2,1950-04-09,POR,Portugal,ESP,Spain,"Lisbon, Portugal",6,FIFA competition team qualification,2.0,2.0,NaN,2-2,NaN,NaN
3,1950-04-15,SCO,Scotland,ENG,England,"Glasgow, Scotland",6,FIFA competition team qualification,0.0,1.0,NaN,0-1,NaN,NaN
4,1950-06-24,BRA,Brazil,MEX,Mexico,"Rio De Janeiro, Brazil",7,FIFA competition team final,4.0,0.0,NaN,4-0,NaN,NaN

In [68]:
import numpy as np
matches['Winner']=np.nan

for index, row in matches.iterrows():
    if row['team1Score']>row['team2Score']:
        matches.loc[index, 'Winner'] = 1
    elif row['team2Score']>row['team1Score']:
        matches.loc[index, 'Winner'] = 2
    else:
        if row['team1PenScore']>row['team2PenScore']:
            matches.loc[index, 'Winner'] = 1
        elif row['team2PenScore']>row['team1PenScore']:
            matches.loc[index, 'Winner'] = 2
        else:
            matches.loc[index, 'Winner'] = 0
            
            
matches.head()

,date,team1,team1Text,team2,team2Text,venue,IdCupSeason,CupName,team1Score,team2Score,statText,resText,team1PenScore,team2PenScore,Winner
0,1950-03-08,WAL,Wales,NIR,Northern Ireland,"Cardiff, Wales",6,FIFA competition team qualification,0.0,0.0,NaN,0-0,NaN,NaN,0.0
1,1950-04-02,ESP,Spain,POR,Portugal,"Madrid, Spain",6,FIFA competition team qualification,5.0,1.0,NaN,5-1,NaN,NaN,1.0
2,1950-04-09,POR,Portugal,ESP,Spain,"Lisbon, Portugal",6,FIFA competition team qualification,2.0,2.0,NaN,2-2,NaN,NaN,0.0
3,1950-04-15,SCO,Scotland,ENG,England,"Glasgow, Scotland",6,FIFA competition team qualification,0.0,1.0,NaN,0-1,NaN,NaN,2.0
4,1950-06-24,BRA,Brazil,MEX,Mexico,"Rio De Janeiro, Brazil",7,FIFA competition team final,4.0,0.0,NaN,4-0,NaN,NaN,1.0

In [69]:
merged = matches.merge(teams[["fifa_code", "confederation"]], 
                        left_on="team1", right_on="fifa_code", how="left")
merged.rename(columns={"confederation": "team1_confederation"}, inplace=True)
merged.drop(columns=["fifa_code"], inplace=True)

merged = merged.merge(teams[["fifa_code", "confederation"]], 
                        left_on="team2", right_on="fifa_code", how="left")
merged.rename(columns={"confederation": "team2_confederation"}, inplace=True)
merged.drop(columns=["fifa_code"], inplace=True)


merged.head()

,date,team1,team1Text,team2,team2Text,venue,IdCupSeason,CupName,team1Score,team2Score,statText,resText,team1PenScore,team2PenScore,Winner,team1_confederation,team2_confederation
0,1950-03-08,WAL,Wales,NIR,Northern Ireland,"Cardiff, Wales",6,FIFA competition team qualification,0.0,0.0,NaN,0-0,NaN,NaN,0.0,UEFA,UEFA
1,1950-04-02,ESP,Spain,POR,Portugal,"Madrid, Spain",6,FIFA competition team qualification,5.0,1.0,NaN,5-1,NaN,NaN,1.0,UEFA,UEFA
2,1950-04-09,POR,Portugal,ESP,Spain,"Lisbon, Portugal",6,FIFA competition team qualification,2.0,2.0,NaN,2-2,NaN,NaN,0.0,UEFA,UEFA
3,1950-04-15,SCO,Scotland,ENG,England,"Glasgow, Scotland",6,FIFA competition team qualification,0.0,1.0,NaN,0-1,NaN,NaN,2.0,UEFA,UEFA
4,1950-06-24,BRA,Brazil,MEX,Mexico,"Rio De Janeiro, Brazil",7,FIFA competition team final,4.0,0.0,NaN,4-0,NaN,NaN,1.0,CONMEBOL,CONCACAF

In [70]:
def create_match_type_features(df):
    df["venue"] = df["venue"].fillna("")  
    
    df["match_country"] = df["venue"].apply(lambda x: x.split(",")[-1].strip() if "," in x else x)

    df["team1Home"] = (df["match_country"] == df["team1Text"]).astype(int)
    df["team2Home"] = (df["match_country"] == df["team2Text"]).astype(int)
    df["neutralVenue"] = ((df["team1Home"] == 0) & (df["team2Home"] == 0)).astype(int)

    df["friendly"] = df["CupName"].str.contains("Friendly", case=False, na=False).astype(int)
    df["qualifier"] = df["CupName"].str.contains("qualification", case=False, na=False).astype(int)
    df["finaltourn"] = df["CupName"].str.contains("final", case=False, na=False).astype(int)

    df.drop(columns=["match_country"], inplace=True)

    return df

merged = create_match_type_features(merged)
merged.head()

,date,team1,team1Text,team2,team2Text,venue,IdCupSeason,CupName,team1Score,team2Score,...,team2PenScore,Winner,team1_confederation,team2_confederation,team1Home,team2Home,neutralVenue,friendly,qualifier,finaltourn
0,1950-03-08,WAL,Wales,NIR,Northern Ireland,"Cardiff, Wales",6,FIFA competition team qualification,0.0,0.0,...,NaN,0.0,UEFA,UEFA,1,0,0,0,1,0
1,1950-04-02,ESP,Spain,POR,Portugal,"Madrid, Spain",6,FIFA competition team qualification,5.0,1.0,...,NaN,1.0,UEFA,UEFA,1,0,0,0,1,0
2,1950-04-09,POR,Portugal,ESP,Spain,"Lisbon, Portugal",6,FIFA competition team qualification,2.0,2.0,...,NaN,0.0,UEFA,UEFA,1,0,0,0,1,0
3,1950-04-15,SCO,Scotland,ENG,England,"Glasgow, Scotland",6,FIFA competition team qualification,0.0,1.0,...,NaN,2.0,UEFA,UEFA,1,0,0,0,1,0
4,1950-06-24,BRA,Brazil,MEX,Mexico,"Rio De Janeiro, Brazil",7,FIFA competition team final,4.0,0.0,...,NaN,1.0,CONMEBOL,CONCACAF,1,0,0,0,0,1

In [71]:
confed_strength = {
    "UEFA": 1.0,
    "CONMEBOL": 0.9,
    "CONCACAF": 0.7,
    "CAF": 0.6,
    "AFC": 0.5,
    "OFC": 0.4        
}
merged["team1_confed_strength"] = merged["team1_confederation"].map(confed_strength)
merged["team2_confed_strength"] = merged["team2_confederation"].map(confed_strength)
merged.head()

,date,team1,team1Text,team2,team2Text,venue,IdCupSeason,CupName,team1Score,team2Score,...,team1_confederation,team2_confederation,team1Home,team2Home,neutralVenue,friendly,qualifier,finaltourn,team1_confed_strength,team2_confed_strength
0,1950-03-08,WAL,Wales,NIR,Northern Ireland,"Cardiff, Wales",6,FIFA competition team qualification,0.0,0.0,...,UEFA,UEFA,1,0,0,0,1,0,1.0,1.0
1,1950-04-02,ESP,Spain,POR,Portugal,"Madrid, Spain",6,FIFA competition team qualification,5.0,1.0,...,UEFA,UEFA,1,0,0,0,1,0,1.0,1.0
2,1950-04-09,POR,Portugal,ESP,Spain,"Lisbon, Portugal",6,FIFA competition team qualification,2.0,2.0,...,UEFA,UEFA,1,0,0,0,1,0,1.0,1.0
3,1950-04-15,SCO,Scotland,ENG,England,"Glasgow, Scotland",6,FIFA competition team qualification,0.0,1.0,...,UEFA,UEFA,1,0,0,0,1,0,1.0,1.0
4,1950-06-24,BRA,Brazil,MEX,Mexico,"Rio De Janeiro, Brazil",7,FIFA competition team final,4.0,0.0,...,CONMEBOL,CONCACAF,1,0,0,0,0,1,0.9,0.7

In [72]:
Selected_df=merged.drop(['team1Text', 'team2Text','venue','IdCupSeason','CupName','team1_confederation', 'team2_confederation', 'team1PenScore', 'team2PenScore','statText','resText'], axis='columns')
Selected_df=Selected_df.dropna()
Selected_df.head()

,date,team1,team2,team1Score,team2Score,Winner,team1Home,team2Home,neutralVenue,friendly,qualifier,finaltourn,team1_confed_strength,team2_confed_strength
0,1950-03-08,WAL,NIR,0.0,0.0,0.0,1,0,0,0,1,0,1.0,1.0
1,1950-04-02,ESP,POR,5.0,1.0,1.0,1,0,0,0,1,0,1.0,1.0
2,1950-04-09,POR,ESP,2.0,2.0,0.0,1,0,0,0,1,0,1.0,1.0
3,1950-04-15,SCO,ENG,0.0,1.0,2.0,1,0,0,0,1,0,1.0,1.0
4,1950-06-24,BRA,MEX,4.0,0.0,1.0,1,0,0,0,0,1,0.9,0.7

In [73]:
Selected_df=Selected_df[Selected_df['friendly']==0]
Selected_df.head()

,date,team1,team2,team1Score,team2Score,Winner,team1Home,team2Home,neutralVenue,friendly,qualifier,finaltourn,team1_confed_strength,team2_confed_strength
0,1950-03-08,WAL,NIR,0.0,0.0,0.0,1,0,0,0,1,0,1.0,1.0
1,1950-04-02,ESP,POR,5.0,1.0,1.0,1,0,0,0,1,0,1.0,1.0
2,1950-04-09,POR,ESP,2.0,2.0,0.0,1,0,0,0,1,0,1.0,1.0
3,1950-04-15,SCO,ENG,0.0,1.0,2.0,1,0,0,0,1,0,1.0,1.0
4,1950-06-24,BRA,MEX,4.0,0.0,1.0,1,0,0,0,0,1,0.9,0.7

In [74]:

def calculate_rolling_features(df, team_col, target_col, score_for_col, score_against_col, confed_col, prefix, N_values=[10, 20, 30, 40, 50]):
 
    df = df.sort_values(by="date")
    
    df[f"{prefix}_goal_diff"] = df[score_for_col] - df[score_against_col]
    
    for N in N_values:
        rolling_win = df.groupby(team_col)[target_col].rolling(N, min_periods=1).apply(lambda x: (x == 1).sum() / len(x), raw=False).reset_index(0, drop=True)
        rolling_loss = df.groupby(team_col)[target_col].rolling(N, min_periods=1).apply(lambda x: (x == 2).sum() / len(x), raw=False).reset_index(0, drop=True)
        rolling_draw = df.groupby(team_col)[target_col].rolling(N, min_periods=1).apply(lambda x: (x == 0).sum() / len(x), raw=False).reset_index(0, drop=True)
        rolling_goal_diff = df.groupby(team_col)[f"{prefix}_goal_diff"].rolling(N, min_periods=1).mean().reset_index(0, drop=True)
        
        rolling_confed_form = df.groupby([team_col, confed_col])[target_col].rolling(N, min_periods=1).apply(lambda x: (x == 1).sum() / len(x), raw=False).reset_index(level=[0, 1], drop=True)
         
        df[f"{prefix}_win_rate_{N}"] = rolling_win
        df[f"{prefix}_loss_rate_{N}"] = rolling_loss
        df[f"{prefix}_draw_rate_{N}"] = rolling_draw
        df[f"{prefix}_goal_diff_avg_{N}"] = rolling_goal_diff
        df[f"{prefix}_confed_form_{N}"] = rolling_confed_form

    return df

In [75]:
print(Selected_df.isnull().sum())
print(Selected_df[Selected_df.isnull().any(axis=1)])

date                     0
team1                    0
team2                    0
team1Score               0
team2Score               0
Winner                   0
team1Home                0
team2Home                0
neutralVenue             0
friendly                 0
qualifier                0
finaltourn               0
team1_confed_strength    0
team2_confed_strength    0
dtype: int64
Empty DataFrame
Columns: [date, team1, team2, team1Score, team2Score, Winner, team1Home, team2Home, neutralVenue, friendly, qualifier, finaltourn, team1_confed_strength, team2_confed_strength]
Index: []

In [76]:
Final_df = calculate_rolling_features(Selected_df, "team1", "Winner", "team1Score", "team2Score", "team2_confed_strength", "team1")
Final_df = calculate_rolling_features(Final_df, "team2", "Winner", "team2Score", "team1Score", "team1_confed_strength", "team2")
Final_df.head()

,date,team1,team2,team1Score,team2Score,Winner,team1Home,team2Home,neutralVenue,friendly,...,team2_win_rate_40,team2_loss_rate_40,team2_draw_rate_40,team2_goal_diff_avg_40,team2_confed_form_40,team2_win_rate_50,team2_loss_rate_50,team2_draw_rate_50,team2_goal_diff_avg_50,team2_confed_form_50
0,1950-03-08,WAL,NIR,0.0,0.0,0.0,1,0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1950-04-02,ESP,POR,5.0,1.0,1.0,1,0,0,0,...,1.0,0.0,0.0,-4.0,1.0,1.0,0.0,0.0,-4.0,1.0
2,1950-04-09,POR,ESP,2.0,2.0,0.0,1,0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1950-04-15,SCO,ENG,0.0,1.0,2.0,1,0,0,0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
4,1950-06-24,BRA,MEX,4.0,0.0,1.0,1,0,0,0,...,1.0,0.0,0.0,-4.0,1.0,1.0,0.0,0.0,-4.0,1.0

In [77]:
Final_df=Final_df.drop(['team1_goal_diff', 'team2_goal_diff', 'team1Score', 'team2Score', 'team1_confed_strength','team2_confed_strength'],axis='columns')
Final_df.head()

,date,team1,team2,Winner,team1Home,team2Home,neutralVenue,friendly,qualifier,finaltourn,...,team2_win_rate_40,team2_loss_rate_40,team2_draw_rate_40,team2_goal_diff_avg_40,team2_confed_form_40,team2_win_rate_50,team2_loss_rate_50,team2_draw_rate_50,team2_goal_diff_avg_50,team2_confed_form_50
0,1950-03-08,WAL,NIR,0.0,1,0,0,0,1,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1950-04-02,ESP,POR,1.0,1,0,0,0,1,0,...,1.0,0.0,0.0,-4.0,1.0,1.0,0.0,0.0,-4.0,1.0
2,1950-04-09,POR,ESP,0.0,1,0,0,0,1,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1950-04-15,SCO,ENG,2.0,1,0,0,0,1,0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
4,1950-06-24,BRA,MEX,1.0,1,0,0,0,0,1,...,1.0,0.0,0.0,-4.0,1.0,1.0,0.0,0.0,-4.0,1.0

In [78]:
Final_Shuffled = Final_df.sample(frac=1).reset_index(drop=True)

In [79]:
Final_Shuffled.to_csv('updated2.csv', index=False)